extends layout

block content
  h1 Admin Panel
  ul.list-group
    li.list-group-item
      a(href="/admin/users") View All Users
    li.list-group-item
      a(href="/admin/posts") View All Blog Posts