extends layout

block content
  h1.text-center.text-primary All Users
  .container.mt-3
    if users.length
      .list-group
        each user in users
          .list-group-item
            h5.font-weight-bold #{user.username}
            small.text-muted Admin Status: #{user.isAdmin ? "✅ Yes" : "❌ No"}
    else
      p.text-danger.text-center No users found.
